::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #505276;
    border-radius: 0.2em;
}

::-webkit-scrollbar-corner {
    display: none;
}

:root {
    --font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --c-text: #c2c5eb;
    --c-primary: #8d92ff;
    --c-secondary: #1f2a5f;
    --cta-button-gradient: linear-gradient(137deg, #8708df, #2077db, #3cecd5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #0a0e21;
    font-family: var(--font);
    margin: 0 15px;
}

header {
    text-align: center;
    font-size: 2.5em;
    padding: 1.2em 0 0 0;
}

header h1 {
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: lighter;
    color: var(--c-text);
}

header h2 {
    margin: 1em 0;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: var(--c-text);
}

header a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.3em;
    color: white;
    margin-top: 5vh;
    padding: 0.75em 1.25em;
    transition: 0.3s all;
    background: var(--cta-button-gradient);
    border-radius: 50em;
    position: relative;
}

header a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    right: 0;
    bottom: 0;
    background: var(--cta-button-gradient);
    transition: 0.3s all;
    transform: scale(0.95);
    filter: blur(10px);
    z-index: -1;
}

header a svg {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
}

header a:hover {
    filter: brightness(1.05);
}

header a:hover::before {
    filter: blur(10px) brightness(1.1);
    transform: none;
}

h2 {
    margin: 30px 0 15px;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: var(--c-text);
}

main {
    width: 100%;
    max-width: 830px;
    margin: 1.5em auto;
}

.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo h2 {
    margin: 30px 0 15px;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: var(--c-text);
}

.demo .info {
    text-align: center;
    font-size: 13px;
    line-height: 2em;
    color: var(--c-text);
}

.popper {
    font-size: 2.25vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 2em;
    height: 2em;
    background: var(--c-primary);
    border-radius: 0.25em;
    visibility: hidden;
}

.popper svg {
    width: 1em;
    height: 1em;
    fill: var(--c-secondary);
}

.reference {
    font-size: 2.25vmin;
    width: 10vmin;
    height: 10vmin;
    background: var(--c-primary);
    margin: 15vmin 0;
    border-radius: 0.25em;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls button {
    -webkit-tap-highlight-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--c-text);
    outline: none;
    padding: 1vmin;
    width: 75px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
    background: var(--c-primary);
    border: 1px solid transparent;
}

.controls button.active {
    background: var(--c-secondary);
}

.controls > section {
    display: flex;
    align-items: center;
    margin: 0.25em 0;
    overflow: hidden;
    border-radius: 0.25vmin;
}
