@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #30343b;
    --text-secondary: white;
    --primary: #30343b;
    --primary-accent: #3e434d;
    --secondary: #212326;
    --active: #f9e130;
    --active-secondary: #ffb829;
    --font: 'Nunito', sans-serif;
}

body, html {
    font-family: var(--font);
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    margin: 5vh auto;
}

header img {
    height: 3em;
}


header h1 {
    font-weight: 300;
    margin-left: 1em;
    color: var(--text);
}

body > p {
    color: var(--text);
}

.gh-link {
    display: flex;
    align-items: center;
    background: var(--active);
    padding: 0.5em 1em;
    margin-top: 1.5em;
    border-radius: 55em;
    font-size: 0.85em;
    box-shadow: 0 0.25vmin 1vmin var(--active);
}

.gh-link svg {
    fill: var(--text);
    width: 1.5em;
    height: 1.5em;
}

.gh-link a {
    text-decoration: none;
    color: var(--text);
    margin-left: 0.5em;
    font-weight: 600;
}

.popper {
    font-size: 2.25vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 2em;
    height: 2em;
    background: var(--secondary);
    border-radius: 0.25em;
    visibility: hidden;
}

.popper svg {
    width: 1em;
    height: 1em;
    fill: var(--text-secondary);
}

.reference {
    width: 10vmin;
    height: 10vmin;
    background: var(--primary);
    margin: 15vmin 0;
    border-radius: 0.25em;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls button {
    -webkit-tap-highlight-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--font);
    color: var(--text-secondary);
    outline: none;
    padding: 1vmin 2em;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid transparent;
}

.controls button:not(.active):hover {
    background: var(--primary-accent);
}

.controls button.active {
    color: var(--active);
    border-top-color: var(--active);
    border-bottom-color: var(--active);
}

.controls button:focus {
    outline: none;
}

.controls button:not(:last-child) {
    border-right-color: var(--secondary);
}

.controls > section {
    display: flex;
    align-items: center;
    margin: 0.25em 0;
    overflow: hidden;
    border-radius: 0.25vmin;
    border: 1px solid var(--secondary);
    background: var(--primary);
}

@media screen and (max-width: 475px) {
    .gh-link {
        font-size: 1em;
    }

    .reference {
        margin: auto;
        width: 20vmin;
        height: 20vmin;
    }

    .popper {
        font-size: 1.25em;
    }

    .controls {
        margin-bottom: 5vh;
    }

    .controls button {
        padding: 3vmin 5vmin;
    }
}
